{# templates/conges/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Conges{% endblock %}

{% block body %}
    <h1>Edit Conges</h1>

    {{ include('conges/_form.html.twig') }}

    {# Afficher le formulaire de commentaire seulement si le congé a été sauvegardé (il a un ID) #}
    {% if conge and conge.id is not null %}
        <h2>Ajouter un commentaire</h2>
        {{ form_start(commentaireForm) }}

        {{ form_widget(commentaireForm) }}
        <button type="submit" class="btn btn-primary">Ajouter Commentaire</button>
        {{ form_end(commentaireForm) }}
    {% endif %}

            {% for commentaire in commentaires %}
                        <td>{{ commentaire.reponseUser }}</td>
                        <td>{{ commentaire.reponseAdmin }}</td>
           {% endfor %}


    <a href="{{ path('app_conges_index') }}">back to list</a>
{% endblock %}
